<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
<h1>Create Group</h1>
<%= form_with model: @group, local:true do |f| %>

  <div class="form-group">
    <%= f.label :name, 'グループ名' %><br>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :introduction, '紹介文' %><br>
    <%= f.text_area :introduction %>
  </div>
  <div class="form-group">
    <%= f.label :image, 'グループ画像' %><br>
    <%= f.file_field :image, id: :image_id %>
  </div>
  <div class="form-group">
    <%= f.submit "Create Group" %>
  </div>
<% end %>
    </div>
  </div>
</div>
